<!-- website/templates/base.html -->
<!DOCTYPE html>
<html lang="en"
      style="height: 100%;">

<head>
    <link rel="icon"
          sizes="192x192"
          href="https://static.wixstatic.com/media/e857e8_d7fe819f1a2f4fa2949cfdf15312153e%7Emv2.png/v1/fill/w_192%2Ch_192%2Clg_1%2Cusm_0.66_1.00_0.01/e857e8_d7fe819f1a2f4fa2949cfdf15312153e%7Emv2.png"
          type="image/png">
    {% block styles %}
    {% include 'styles.html' %}
    {% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
</head>

<body style="min-height: 100%; display: flex; flex-direction: column;">
    {% include 'navbar.html' %}

    <!-- Flash Messages -->
    <!--
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }} alert-dismissible fade show"
         role="alert">
        {{ message }}
        <button type="button"
                class="btn-close"
                data-bs-dismiss="alert"
                aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    -->

    {% block header %}
    {% include 'header.html' %}
    {% endblock %}

    <div class="container">
        {% block breadcrumbs %}
        {% endblock %}
    </div>


    <!-- Main Content -->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    {% block footer %}
    {% include 'footer.html' %}
    {% endblock %}

    {% block javascript %}
    {% include 'scripts.html' %}
    {% endblock %}
</body>

</html>