{% extends "base.html" %}

{% block title %}Duty Cycle Name{% endblock %}

{% block content %}
<h1 align="center">Loads</h1>
<table class="table" id="loads">
  <thead>
    <tr>
      <th>Load Name</th>
      <th>Value (kWh)</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for load in duty_cycle.loads %}
    <tr>
      <td>{{ load.name }}</td>
      <td>{{ load.value }}</td>
      <td>
        <form method="POST" action="{{ url_for('views.delete_load', load_id=load.id) }}">
          <button type="submit" class="btn btn-danger btn-sm">&times;</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<form method="POST" action="{{ url_for('views.duty_cycle', duty_cycle_id=duty_cycle.id) }}">
  <div class="form-group">
    <input type="text" name="load_name" placeholder="Load Name" required class="form-control">
  </div>
  <div class="form-group">
    <input type="number" step="any" name="load_value" placeholder="Value (kWh)" required class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Add Load</button>
</form>
{% endblock %}