<footer class="text-center text-lg-start bg-body-tertiary text-white"
         style="background-image: url('https://static.wixstatic.com/media/43c038_4ad81e81714f4860b60080b8f9a15a16~mv2_d_5773_3331_s_4_2.jpg/v1/fill/w_1920,h_1108,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/43c038_4ad81e81714f4860b60080b8f9a15a16~mv2_d_5773_3331_s_4_2.jpg'); background-size: cover; background-position: center; margin-top: auto;">
    <div class="container p-4">
        <!-- Footer content goes here -->
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023:
        <a class="text-white" href="https://www.hpsolutions.no/">2023 by Haf Power Solutions AS</a>
    </div>
</footer>