<h2 align="center">Operating Schedule</h2>
<table class="table">
  <thead>
    <tr>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Location</th>
      <th>Load</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="schedules">
    {% for schedule in duty_cycle.schedules %}
    {% include "partials/_operating_schedule.html" %}
    {% endfor %}
  </tbody>
  <tbody id="add_schedule">
    <tr>
      <form hx-post="{{ url_for('projects.project_detail.duty_cycle.operating_schedule.add_schedule_to_duty_cycle', project_id=duty_cycle.project_id, duty_cycle_id=duty_cycle.id) }}"
            hx-on="afterRequest-> if(event.detail.successful) this.reset()"
            hx-target="#schedules"
            hx-swap="beforeend">
        <td colspan="2">
          <input type="text"
                 name="dates"
                 class="form-control"
                 value="10/31/2023 00:00 - 10/31/2023 23:59"
                 required>
        </td>
        <td>
          <input type="text"
                 name="location"
                 class="form-control"
                 placeholder="Location"
                 required>
        </td>
        <td></td>
        <td>
          <button type="submit"
                  class="btn btn-primary btn-block">Add Schedule</button>
        </td>
      </form>
    </tr>
  </tbody>
</table>